.roll-results .outcome {
  padding: .5em 0;
  border-top: 1px solid black;
  width: 100%;

  position: fixed;
  bottom: 0px;

  background-color: white;
}

.roll-results .pre-footer {
  padding-bottom: 3em;
}

.roll-results .reaction-log {
  border-top: 1px solid black;
}

.roll-results .reaction-log .log-line {
  margin: .5em 0;
}

.roll-reaction .control-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.roll-reaction .use-button {
  grid-row: span 2;
  font-size: 1em;
}