.roll-results .dice-list h2 {
  /* text-align: left; */
}

.roll-results .dice-list ul {
  display: flex;
  flex-wrap: wrap;
}

.roll-results .die-image-container img {
  height: 4rem;
}

.roll-results .die-image-container {
  height: 4rem;
  
  display: inline-block;
  margin-left: .4rem;
  margin-right: .4rem;
  margin-bottom: .25rem;
  margin-top: .25rem;

  position: relative;
}

.roll-results .die-image-container.rerolled:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.25);
  border-radius: 1rem;
}

.roll-results .die-image-container.free-success {
  /* display: block; */
  height: 4rem;
  width: 4rem;
  flex-shrink: 0;

  box-sizing: border-box;
  border-radius: .8rem;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5em;
  font-family: 'Macondo', fantasy, cursive, sans-serif;
}

.roll-results .outcome {
  padding: .5em 0;
  border-top: 1px solid black;
  width: 100%;

  position: fixed;
  bottom: 0px;

  background-color: white;
}

.roll-results .outcome h2 {
  font-size: 1.75em;
  text-transform: uppercase;
}

.roll-results .outcome-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.roll-results .outcome button {
  font-size: 1.5em;
  display: block;
  width: 70%;
  padding: .2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.roll-results .pre-footer {
  padding-bottom: 3em;
}

.roll-results .reaction-log {
  border-top: 1px solid black;
}

.roll-results .reaction-log .log-line {
  margin: .5em 0;
}