.roll-results .dice-list h2 {
  /* text-align: left; */
}

.roll-results .die-image-container img {
  height: 4em;
}

.roll-results .die-image-container {
  height: 4em;
  
  display: inline-block;
  margin-left: .4em;
  margin-right: .4em;
  margin-bottom: .25em;
  margin-top: .25em;

  position: relative;
}

.roll-results .die-image-container.rerolled:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.25);
  border-radius: 1em;
}

.roll-results .outcome {
  padding: .5em 0;
  border-top: 1px solid black;
  width: 100%;

  position: fixed;
  bottom: 0px;

  background-color: white;
}

.roll-results .outcome h2 {
  font-size: 1.75em;
  text-transform: uppercase;
}

.roll-results .outcome-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.roll-results .outcome button {
  font-size: 1.5em;
  display: block;
  width: 70%;
  padding: .2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.roll-results .pre-footer {
  padding-bottom: 3em;
}

.roll-results .reaction-log {
  border-top: 1px solid black;
}

.roll-results .reaction-log .log-line {
  margin: .5em 0;
}