.trait-dropdown > .control-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: .5em;

  margin-top: 2em;
}

.trait-dropdown h3 {
  margin-top: 0;
}

.trait-dropdown select {
  grid-column: span 2;
}

.trait-dropdown .trait-option {
  display: grid;
  grid-template-columns: 2em 1fr;
  align-items: center;
  grid-gap: .4em;
}