#roll-nav {
  display: grid;
  grid-template-columns: 2em 1fr 5em 2em;
  justify-items: center;
  align-items: center;

  padding-bottom: .5em;
  border-bottom: 1px solid black;
}

#roll-nav h2 {
  margin-bottom: 0px;
}

#roll-nav button.arrow {
  font-size: 2em;
  border: none;
  background-color: white;
}
#roll-nav button.arrow[disabled] {
  color: lightgrey;
}

#roll-nav button.cancel {
  font-size: 1em;
  width: 90%;
  height: 100%;
}

.roll-page-container {
  padding-bottom: 3em;
}

#roll-gather-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-ability-dropdown {
  font-size: 1em;
  direction: rtl;
}
.skill-ability-dropdown option {
  direction: ltr;
}

#roll-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  padding: .5em 0;
  border-top: 1px solid black;
  width: 100%;

  position: fixed;
  bottom: 0px;
}
