.skill-table {
  max-width: 100%;
}

table {
  width: 100%;
}

table td:first-child {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skill-table .advancement {
  white-space: nowrap;
}

.skill-table button {
  margin: 0 .5em;
  padding-left: .5em;
  padding-right: .5em;
  height: 2.3em;
  /* height: 100%; */
}

.skill-table .nature-descriptors {
  padding: .2em 1em;
  font-style: italic;
}

.skill-table .rating {
  width: 90%;
}

.skill-table .beginners-luck {
  text-align: center;
}

.trait-uses {
  white-space: nowrap;
  text-align: center;
  height: 2em;
}

/* TODO the height doesn't match up, for some reason the td with the real checkboxes adds in 4 pixels of padding. Fixed by hardcoding, and I hate it. */
.use-checkbox-standin {
  height: calc(2em + 5px);
  line-height: calc(2em + 5px);
}
