.bio-page {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
}

.bio-page .block {
  grid-column: 1 / span 2;
}

.bio-page h3 {
  text-transform: capitalize;
}

.bio-page * {
  margin: .3em 0;
}