html, body {
  height: 100%;
}

main {
  margin: 1em 8px 0 8px;
}

main h2 {
  font-family: 'Macondo', fantasy, cursive, sans-serif;
  margin: .2em 0;
  text-align: center;
}

main h2::first-letter {
  text-transform: capitalize;
}

main ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

main section {
  margin-bottom: 2.5em;
}

.number {
  display: inline-block;
  font-family: 'Macondo', fantasy, cursive;
  font-size: 1.5rem;

  width: 1.5em;
  text-align: center;

  border-bottom: 1px solid black;
}

button {
  border: 1px solid black;
}

/* button:not([disabled]) {
  cursor: pointer;
} */

.label {
  margin: 0 1em;
  font-size: .7em;
  font-style: italic;
  text-transform: capitalize;
}

select, input {
  font-size: 1em;
  border: 1px solid black;
}

.action-button {
  font-size: 1.5em;
  display: block;
  width: 70%;
  padding: .2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}